.error_item {
  width: 267px;
  height: 152px;
  margin: 40px auto 80px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../image/try-looking@2x-min.png);
}
.error_message {
  width: 151px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  padding-top: 61px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 43px;
}
